<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Listar Usuários</title>
</head>

<body>

    <div class="dropdown">
        <button class="button-link">Menu</button>
        <div class="dropdown-content">
            <a href="/clientes" class="button button-link">Lista de Clientes</a>
            <a href="/usuarios" class="button button-link">Lista de Usuários</a>
            <a href="/clientes/cadastrar" class="button button-link">Cadastrar Cliente</a>
            <a href="/usuarios/cadastrar" class="button button-link">Cadastrar Usuário</a>
            <a href="/usuarios/atualizar/<%= user.id %>" class="button button-link">Atualizar Usuário</a>
            <a href="/usuarios/exibir/<%= user.id %>" class="button button-link">Exibir Perfil</a>
            <form action="/autenticacao/logout" method="POST">
                <input type="submit" value="Sair" class="button button-sair">
            </form>
        </div>
    </div>

    <h1>Lista de Usuários</h1>

    <table border>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Usuario</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Estado</th>
            <th>Data Cadastro</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <% for (const user of users) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.birthDate %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.sex %>
                    </td>
                    <td>
                        <%= user.status %>
                    </td>
                    <td>
                        <%= user.createdAt %>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/usuarios/atualizar/<%= user.id %>">Atualizar</a></li>
                            <li><a href="/usuarios/deletar/<%= user.id %>">Deletar</a></li>
                            <li><a href="/usuarios/exibir/<%= user.id %>">Exibir</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

</body>

</html>