<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Exibir Usuário</title>
</head>

<body>

    <div class="dropdown">
        <button class="button-link">Menu</button>
        <div class="dropdown-content">
            <a href="/clientes" class="button button-link">Lista de Clientes</a>
            <a href="/usuarios" class="button button-link">Lista de Usuários</a>
            <a href="/clientes/cadastrar" class="button button-link">Cadastrar Cliente</a>
            <a href="/usuarios/cadastrar" class="button button-link">Cadastrar Usuário</a>
            <a href="/usuarios/atualizar/<%= user.id %>" class="button button-link">Atualizar Usuário</a>
            <a href="/usuarios/exibir/<%= user.id %>" class="button button-link">Exibir Perfil</a>
            <form action="/autenticacao/logout" method="POST">
                <input type="submit" value="Sair" class="button button-sair">
            </form>
        </div>
    </div>

    <div>
        <h1>Exibir Usuário</h1>
    </div>

    <div>
        <p><b>ID:</b>
            <%= user.id %>
        </p>
        <p><b>Nome:</b>
            <%= user.name %>
        </p>
        <p><b>Usuario:</b>
            <%= user.username %>
        </p>
        <p><b>Data de Nascimento:</b>
            <%= user.birthDate %>
        </p>
        <p><b>Email:</b>
            <%= user.email %>
        </p>
        <p><b>Sexo:</b>
            <%= user.sex %>
        </p>
        <p><b>Estado:</b>
            <%= user.status %>
        </p>
        <p><b>Data Cadastro:</b>
            <%= user.createdAt %>
        </p>
        <p><b>Data da Última Atualização:</b>
            <%= user.updatedAt || "Nenhuma atualização realizada." %>
        </p>
    </div>

</body>

</html>